<html>
<h1>記事一覧</h1>
<a href="new">新規作成</a><br>
<table>
<tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>著者名</th>
    <th>内容</th>
</tr>
{{ range .books }}
<form action="/book/edit/{{.ID}}" method="get">
    <input type="hidden" name="id" value="{{ .ID }}" />
    <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Title }}</td>
        <td>{{ .Author }}</td>
        <td>{{ .Content }}</td>
        <td><input type="submit" value="更新" /></td>
        <td><a href="/book/delete/{{.ID}}">削除</a></td>
    </tr>
</form>
{{end}}
</table>





</html>
