<html>
  <form method="post" action="add" >
    <label>
      名前
      <input type="text" name="name" value="{{.user.name}}"/><br>
      年齢  
      <input type="text" name="age" value="{{.user.age}}"/><br>
      メールアドレス
      <input type="text" name="address" value="{{.user.address}}"/><br>
      パスワード
      <input type="text" name="password" value="{{.user.password}}"/><br>
    </label>
    <input type="submit" name="Submit" value="登録" /><br/>
    {{.Mess}}
  </form>
  <a href="list">back</a>
</html>
